<h2 class="title">Compra tu póliza</h2>

<div class="example-container">
  <mat-form-field>
    <input [(ngModel)]="insurancePolicy.identification" matInput placeholder="Cédula">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="insurancePolicy.firstName" matInput placeholder="Nombre">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="insurancePolicy.lasttName" matInput placeholder="Apellido">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="policyType" placeholder="Tipo de póliza">
      <mat-option *ngFor="let policy of policies" [value]="policy">
        {{policy.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Valor de póliza" [value]="policyType ? policyType.value : ''" [disabled]="true">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSaveData()">guardar</button>

</div>